<header class="site-header">
  <a href="{{rootPath}}" class="logo">
    <span class="logo-icon">⚽</span>
    <span class="logo-text">Bildli</span>
  </a>
  {{#if breadcrumbs}}
  <nav class="breadcrumbs" aria-label="Breadcrumb">
    {{#each breadcrumbs}}
    {{#if @last}}
    <span class="breadcrumb-current">{{this.label}}</span>
    {{else}}
    <a href="{{this.url}}">{{this.label}}</a>
    <span class="breadcrumb-sep">›</span>
    {{/if}}
    {{/each}}
  </nav>
  {{/if}}
</header>
